@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Based on:
https://tailwindcss.com/docs/functions-and-directives#layer
https://tailwindcss.com/docs/functions-and-directives#theme
https://tailwindcss.com/docs/functions-and-directives#apply
*/
@layer base {
    body {
        background-color: theme('colors.tableHead');
        font-family: theme('fontFamily.default'), sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: theme('colors.secondary');
        font-weight: normal;
    }

    .toasted {
        font-family: theme('fontFamily.default'), sans-serif;
        letter-spacing: -0.1em;
    }
}
